@charset "UTF-8";

html {
scroll-behavior: smooth;
}
 h3 {
  margin-left: 15px;
  font-size: 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
}

body {
  margin: auto;
  font-family: "PT Sans", Arial, Helvetica, sens-sans-serif;
  margin-right: auto;
  background: linear-gradient(to right, #141e30, #243b55);
  
}

main {
  width: 720px;
  margin: auto;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

header {
  
  height: 60px;
  display: flex;
  background-color: #3E45ff;
  border-bottom: 1px solid;
  border-color: rgb(71, 166, 255);
  
  

}

header .img_icone {
  height: 60px;
  width: 65px;
  display: inline-block;
  float: left;
  
  
}

header h1 {
  float: left;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 0;
  margin-top: 0px;
  margin-left: 10px;
  
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

header #menu_social {
  margin-top: -15px;
  width: 550px;
  margin-bottom: 20px;
  float: right;
  
}

header #menu_social ul {
  height: 10px;
  float: right;

}

header #menu_social ul li {
  
  padding: 10px;
  list-style: none;
  float: right;
  
}

header #menu_social ul li a {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  text-indent: -999999px;
}

p{
  text-align: justify;
  margin-right: 15px;

}
section{
  margin-left: 5px;
}

#imagem_atividades_imagens {
  padding-right: 5px;
}

.titulo_atividades {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.titulo_atividades_div {
  padding-top: 10px;
}

.imagem_atividades {
  position: relative;
  padding-top: 60px;
}

td{
  text-align: center;
}

.resultado_texto {
  text-align: center;
}

#resultado_perder_calorias, #resultado_manter_calorias, #resultado_ganhar_calorias {
  color: green;
}

.faq {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_faq.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
  
  
}

.sobre {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_sobrenos.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
  
  
}
.sobrenos_nosso_time{
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
}

.contato {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_contato.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
}

div {
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  justify-content: space-around;
  margin-top: 5px;
}

.div1{
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  justify-content: space-around;
  margin-top: 5px;
  margin-right: 50px;

}

.div2{
  flex-wrap: wrap;
  display: flex;
  margin-left: 15px;
  justify-content: space-around;
  margin-top: 5px;
  margin-right: 50px;

}