@charset "UTF-8";

html {
scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: "PT Sans", Arial, Helvetica, sens-sans-serif;
  margin-right: auto;
}

main {
  width: 720px;
  margin: auto;
  border-width: 5px;
  border-color: red;
  border-style: solid;
}

header {
  width: 720px;
  height: 60px;
  display: flex;
  background-color: #3E45ff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(71, 166, 255);
  
  

}

header .img_icone {
  height: 60px;
  width: 65px;
  display: inline-block;
  float: left;
  
  
}

header h1 {
  float: left;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 0;
  margin-top: 0px;
  margin-left: 10px;
  
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

header #menu_social {
  margin-top: -15px;
  width: 550px;
  margin-bottom: 20px;
  float: right;
  
}

header #menu_social ul {
  height: 10px;
  float: right;

}

header #menu_social ul li {
  
  padding: 10px;
  list-style: none;
  float: right;
  
}

header #menu_social ul li a {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  text-indent: -999999px;
}

.faq {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_faq.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
  
  
}

.sobre {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_sobrenos.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
  
  
}

.contato {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
  background-image: url(../imagens/menu/menu_contato.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  margin: auto;
  
  
  
}
